<%= stylesheet_link_tag "application", "recipe" %>
<p style="color: green"><%= notice %></p>

<div class="container pad max_width">
  <h1>Public Recipes</h1>
  <div class="recipes gap flex">
    <% @recipes.each do |recipe| %>
    <div class="recipe_card gap pad flex">
      <div>
        <p><%= link_to recipe.name, recipe %></p>
        <p>by <%= recipe.user.name %></p>
      </div>

      <div>
        <p>Total food items: <%=recipe.recipe_foods.length%></p>
        <%total_price = 0%>
        <%recipe.recipe_foods.each do |recipe_food|%>
          <%price = recipe_food.quantity.to_i * recipe_food.food.price%>
          <%total_price = total_price + price%>
        <%end%>
        <p>Total price: <%=total_price%> $</p>
      </div>
    </div>
    <% end %>
  </div>
</div>
