<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div class="container">
  <div class="recipes">
    <% @recipes.each do |recipe| %>
    <p>
      <strong>Name:</strong><%= recipe.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= recipe.description %>
    </p>

      <p>
        <%= link_to "Show this recipe", recipe %>
      </p>
    <% end %>
  </div>
</div>

<%= link_to "New recipe", new_recipe_path %>
