<%= link_to 'Add Food', new_food_path, class: "add-food" %>
  <table>
    <tr>
      <th>Foods</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name%></td>
        <td><%= food.measurement_unit%></td>
        <td>$<%= food.price%></td>
        <td><%= food.quantity%></td>
        <% if can? :destroy, food %>
        <td><%= button_to 'Delete', food_path(food), method: :delete, class:"btn btn-outline-danger"%></td>
        <% else %>
        <td class="text-danger">Cannot Delete</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>